.pagehome {
  position: absolute;
  left: 240px;
  top: 0;
  height: 85%;
  width: 36rem;
  border: 1px solid red;
  overflow-x: scroll;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: red;
    width: 10px;
  }

  &:-webkit-scrollbar-track {
    background: yellow;
  }

  .pagehome_content {
    font-size: 25px;
    font-weight: 400;
    color: #111;
    margin: 1.5rem;

    h1 {
      width: 500px;
      border: 1px solid blue;

      #pagehome_header:hover {
        color: red;
      }
    }

    .content {
      border: 1px solid gray;
      margin-top: 4rem;
      // width: 100%;
    }
  }
}
