.footer {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  width: 434px;
  z-index: 0;

  .footer_content {
    display: flex;
    flex-direction: column;
    height: 0;
    align-items: right;
    justify-content: center;
    padding-right: 1rem;
    border-radius: 7px;
    box-shadow: var(--def-shadow);
    background: var(--prim-color);
    color: var(--white);
    transition: var(--anim-bezier);

    .warn {
      position: absolute;
      opacity: 0;
      right: 3rem;
      bottom: 90px;
      pointer-events: none;
      padding-left: 2rem;
      transition: var(--anim-bezier);

      &::after {
        content: '';
        background: var(--prim-color);
        border-radius: 50%;
        position: absolute;
        right: -25px;
        bottom: 20px;
        height: 20px;
        width: 20px;
        transition: var(--anim-bezier);
        opacity: 0;
      }

      &::before {
        content: '';
        background: var(--prim-color);
        border-radius: 50%;
        position: absolute;
        right: -45px;
        bottom: 13px;
        height: 15px;
        width: 15px;
        transition: var(--anim-bezier);
        opacity: 0;
      }
    }

    .copyright {
      opacity: 0;
      padding-right: 6rem;
      pointer-events: none;
      transition: var(--anim-bezier);
    }

    .footer_icon {
      position: absolute;
      right: 2rem;
      bottom: 1rem;
      color: var(--secd-color);
      width: 50px;
      height: 50px;
      background: var(--prim-color);
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
      cursor: pointer;
      transition: var(--anim-bezier);

      &::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: -9px;
        height: 15px;
        width: 15px;
        background: #111;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.3s ease-in;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 10px;
        right: -9px;
        height: 15px;
        width: 15px;
        background: #111;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.3s ease-in;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
      }
    }
  }
}

.up {
  .footer_content {
    height: 70px;
    padding: 1.5rem;

    .copyright {
      opacity: 1;
    }

    .warn {
      opacity: 1;
      position: absolute;
      right: 9rem;
      bottom: 90px;
      color: red;
      background: var(--prim-color);
      padding: 10px;
      border-radius: 15px;
      box-shadow: var(--def-shadow);
      font-size: 12px;
      transition: var(--anim-bezier);

      &::after {
        content: '';
        background: var(--prim-color);
        box-shadow: var(--def-shadow);
        border-radius: 50%;
        position: absolute;
        right: -25px;
        bottom: 20px;
        height: 20px;
        width: 20px;
        transition: var(--anim-bezier);
        opacity: 1;
      }

      &::before {
        content: '';
        background: var(--prim-color);
        box-shadow: var(--def-shadow);
        border-radius: 50%;
        position: absolute;
        right: -45px;
        bottom: 13px;
        height: 15px;
        width: 15px;
        transition: var(--anim-bezier);
        opacity: 1;
      }
    }

    .footer_icon {
      height: 60px;
      bottom: 50px;
      border-right: 2px solid transparent;
      border-left: 2px solid transparent;

      &::before {
        content: '';
        position: absolute;
        bottom: 47px;
        left: -16px;
        height: 15px;
        width: 20px;
        background: #111;
        border: 2px solid #fff;
        border-radius: 50%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 50px;
        transform: rotate(45deg);
        transition: all 0.3s ease-in;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 47px;
        right: -16px;
        height: 15px;
        width: 20px;
        background: #111;
        border: 2px solid #fff;
        border-radius: 50%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 50px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in;
      }
    }
  }
}
