.tooltip {
  position: absolute;
  color: #11101b;
  background: #fff;
  height: 35px;
  width: 122px;
  left: 122px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-radius: 7px;
  line-height: 35px;
  opacity: 0;
  transition: 0s;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
