:root {
  --black20: rgba(0, 0, 0, 0.2);
  --def-shadow: 0 5px 10px var(--black20);
  --neg-def-shadow: inset 0 5px 5px var(--black20), var(--def-shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
